@{
    ViewData["Title"] = "SearchResult";
}

<h2>Search Result</h2>

<br />


<p>Does the built string <em>@ViewBag.TheString</em> include the search string <em>@ViewBag.Searchstr</em>? True or False.</p>


<p><strong>@ViewBag.Anslist</strong></p>



<br /><br />

